<?xml version="1.0"?>
<log4net>
	<root>
		<level value="ALL" />
	</root>
	<appender name="FileInfoAppenderMobile" type="log4net.Appender.RollingFileAppender">
		<file value="D:\logs\SmitteStop\Mobile_Logs_"/>
		<param name="DatePattern" value="dd-MM-yyyy'.log'" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="1" />
		<maximumFileSize value="100MB" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level - %newline%message%newline" />
		</layout>
	</appender>
	<logger name="MobileLog" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="FileInfoAppenderMobile"/>
	</logger>
</log4net>
